.sign-up-image
  = image_tag 'Rectangle.png', class: 'sign-up-image'
.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.label :Account
      %br/
      = f.text_field :username, class: 'text'
      %hr
    .field
      = f.label :Email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
      %hr
    .field
      = f.label :Password
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'text'
      %hr

    .actions
      = f.submit "CREATE ACOOUNT", class: 'btn-primary'
