.card
  .article-page
    = image_tag 'baseline_account_circle_black_48dp.png', class: 'avatar-tertiary'
    %div  
      %p.article-page_username= article.user.username
      %p.article-page_date= I18n.l(article.created_at, format: :default)
      
  .card-phots
    = image_tag article.images[0], class: 'card-img'
  .icons
    = image_tag 'heart.svg', class: 'heart-img'
    = image_tag 'comment.png', class: 'comment-img'
    = image_tag 'share.png', class: 'share-img'
          
  .card-content
    = article.content