.container
  %div
    = link_to new_article_path do
      = image_tag 'photo-camera.png', class: 'back-img'

  .home-btn
    -if signed_in?
      = button_to 'LOGOUT', destroy_user_session_path, method: :delete
    -else
      = button_to 'LOGIN', new_user_session_path, method: :post

  .home-btn
    -if current_page?(root_path)
      = button_to 'POPULAR', popular_path, method: :get
    -else
      = button_to 'TIMELINE', root_path, method: :get
  
  - articles.each do |article|
    = render 'commons/article', article: article