.container
  %div
    = link_to 'javascript:history.back()' do
      = image_tag 'Group.png', class: 'back-img'

  .center-text
    = user.username
  .profile-avatar
    = image_tag user.avatar_image, class: 'avatar-primary'

  -if user == current_user
    = render 'commons/change_avatar'

  -if !current_page?(profile_path)
    - if current_user&.has_followed?(user)
      = button_to 'UnFollow', account_unfollows_path(user), class: 'unfollow-btn', remote: true
    -else
      = button_to 'Follow', account_follows_path(user), class: 'follow-btn', remote: true

  .breadcrumb__list_primary
    ._breadcrumb__item
      %p.count= user.articles.count
    ._breadcrumb__item
      %p.count= user.followers.count
    ._breadcrumb__item
      %p.count= user.followings.count

  .breadcrumb__list_secondary
    ._breadcrumb__item
      %p.title Posts
    ._breadcrumb__item
      = link_to 'Follower', account_followers_path(user)
    ._breadcrumb__item
      = link_to 'Follow', account_followings_path(user)
  
= javascript_pack_tag 'profile'