.container
  .center-text
    = user.username
  .profile-avatar
    = image_tag user.avatar_image, class: 'avatar-primary'

  - if user == current_user
    .popup-overlay
      .popup-content
        = form_with(model: profile, url: profile_path, method: 'put', local: true) do |f|
          %div
            = f.label :avatar, 'Avatar'
          %div
            = f.file_field :avatar, class: 'text'   
          %div
            = f.submit 'Submit', class: 'btn-submit'
        %button.close cancel
  - else
    - if current_user&.has_followed?(user)
      .header
        .header_right
        = link_to 'UnFollow', account_unfollows_path(user), method: :post, class: 'unfollow-btn', remote: true
    - else
      .header
        .header_right
        = link_to 'Follow', account_follows_path(user), method: :post, class: 'follow-btn', remote: true

  .breadcrumb__list
    ._breadcrumb__item
      %p.count= user.articles.count
      %p.title Posts
    ._breadcrumb__item
      %p.count= user.followers.count
      = link_to 'Follower', account_followers_path(user)
    ._breadcrumb__item
      %p.count= user.followings.count
      = link_to 'Follow', account_followings_path(user)
    

= javascript_pack_tag 'profile'